<div class="container">
<div class ="row">

<div class="col-md-8 offset-md-2">


    <div class="card my-5 shadow-sm">

        <div class="card-body">

            <h1>This is Work Title </h1>
            <p>Hello , I Am Amod kumar sah </p>
            <p>Hello , I Am Amod kumar sah </p>
            <p>Hello , I Am Amod kumar sah </p>
            <div class="mt-2">


                <button class="btn btn-secondary btn-lg">Back</button>
            </div>
        </div>
       
    </div>
</div>


</div>



</div>
